body{
    font-style: Roboto;
    margin-left: 300px;

}

div.lijn{
        text-decoration: underline;
      }

img{
width: 500px; ;
height: 400px ;


}

footer{
background-color: rgb(135, 189, 135);

}