
  

  body{
    display: flex;
    flex-direction: column;
  border-style: solid;
  padding: 20px;
  

  }
  .navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  border-style: solid;
  
  }

  

  .item{
  color: rgb(0, 0, 0);
  margin: 20px;
  font-size: 15px;
  justify-content: space-around;
  border-style: solid ;
  border-color: black;
  padding:10px;
  }
  
  
  #gamer{
  font-size: 15px;
  color:rgb(0, 0, 0) ;
  display: flex;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  padding:10px;
  }

  .artikel{
    border-style:solid ;
    margin: 20px ;
    padding: 20px;
    height: 230px;
    width: 75%;
    
  }


  .Gamedetails{    
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    margin-bottom: 20px;
    height: 300px;
   

  }


.computerlimits{
  border-style:solid ;
   margin: 10px ;
  padding-top : 20px; 

}


  .reviews {
    margin: 0 10px;
    font-size: 14px;
    position: relative;
    border-style: solid;
}
  
  

  .Gamefotos {
    display: flex;
  }
  
  .Gamefotos img {
    width: 200px;
    height: 200px;
    border-style:solid;
    margin: 20px;
    margin-bottom: 0;
  
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }
  